.App {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    monospace;
  color: black;
  background-color: #5db3c1a1;
}

.NavBar {
  height: 140px;
  padding: 0px;
  background-color: whitesmoke;
}

.Container {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 80px;
}

.Row {
  padding-left: 45px;
  padding-right: 45px;
}

@media only screen and (min-width: 768px) {
  .logo {
      margin-left: 30%;
  }
}