.App {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    monospace;
  color: black;
  background-color: #5db3c1a1;
}

.NavBar {
  height: 200px;
  padding: 0px;
  background-color: whitesmoke;
}

.Container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.Row {
  padding-left: 45px;
  padding-right: 45px;
}
