.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    monospace;
  color: black;
}

.Button {
  border-color: #5db3c1a1;
  color: black;
  background-color: white;
}
.NavBar {
  height: 150px;
  padding: 20px;
  background-color: gray;
}

.Container {
  background-color: #5db3c1a1;
  height: 150px;
  padding: 20px;
  text-align: center;
}
